.video-thumb {
  padding: 8px;
  cursor: pointer;
  min-width: 220px;
  min-height: 360px;
  position: relative;

  @include media-breakpoint-up(sm) {
    min-width: auto;
    min-height: auto;
  }

  &:hover {
    .video-thumb__play-icon {
      display: block;
    }
  }

  &__image {
    position: relative;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    min-width: 200px;
  }

  &__play-icon {
    z-index: 5;
    display: none;
    user-select: none;
    pointer-events: none;
    color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    animation-name: FadeZoom;
    animation-duration: 0.1s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
  }

  &__title {
    background-color: rgba(0,0,0,0.4);
    padding: 4px;
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
  }
}

@keyframes FadeZoom {
  from {
    font-size: 30px;
  }

  to {
    font-size: 45px;
  }
}
