#videoModal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  overflow: scroll;

  &.show {
    display: flex;
  }

  .close-btn {
    color: #FFF;
    top: 8px;
    right: 8px;
    display: none;

    @include media-breakpoint-up(md) {
      position: fixed;
      display: block;
    }
  }

  .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 16px 0 16px;

    @include media-breakpoint-up(sm) {
      margin: 64px 0 16p
    }

    & > video {
      display: block;
      width: 100%;
      height: auto;
      box-shadow: 0 0 5px 1px #202020;
    }

    .video-info {
      margin-bottom: 16px;
    }

    .video-details {
      margin-bottom: 16px;
    }
  }

  .last-col {
    padding-bottom: 50px;
  }
}
