.carousel-container {
  padding: 25px 0;
  margin: 0 25px;

  &__title {
    text-align: center;
  }

  &__carousel {
    padding: 25px 0;
  }
}

/* Slick Slider */
.slick-dots {
  top: -35px;
  bottom: unset;

  li {
    button:before {
      color: $white;
      font-size: 12px;
    }

    &.slick-active {
      button:before {
        color: $white;
      }
    }
  }
}
