@import "./Dependencies";
@import "./partials/PrimaryNavigation";
@import "./partials/Loading";
@import "./partials/VideoThumb";
@import "./partials/VideoModal";
@import "./partials/VideoCarousel";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url('/assets/images/felix-mooneeram-222805-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  color: $white;

  &.modal-open {
    overflow-y: hidden;
  }
}

// Fontawesome
i.fas {
  font-weight: 900;
}

.App {
  position: relative;
}

.container {
  &.primary-container {
    min-height: 100vh;
    height: auto;
    background-color: #151616;
    border-left: 1px solid #202020;
    border-right: 1px solid #202020;
  }
}
